DJANGO_SETTINGS_MODULE='store.prod_settings'
SECRET_KEY='123456'
DATABASE_URL='postgres://USER:PASSWORD@LINK:PORT/DBNAME'
SENDGRID_API_KEY='SG.AAA-BBB.CCC'
DEFAULT_FROM_EMAIL='johndoe@gmail.com'
DEBUG='false'